.contact {
    width: 100%;
    padding: 2rem 0;

}

.contact .social {
    gap: 1.2rem;
}

.contact p {
    margin: .4rem 0;
    text-align: center;
}

.contact .social {
    text-align: center;
    
}

.contact .icon {
    font-size: 2rem;
    margin: 2rem 3rem;
    color: #411e1c;
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2,1fr);
        gap: .5rem;
    }

    .footer .icon {
        margin: 1rem;
    }
}